# ================================ SECRETS ================================
## get it from secrets: kubectl -n hmpps-resettlement-passport-dev get secret hmpps-resettlement-passport-api -o json | jq '.data | map_values(@base64d)'
RESETTLEMENT_PASSPORT_API_CLIENT_ID=
RESETTLEMENT_PASSPORT_API_CLIENT_SECRET=
