PRODUCT_ID=DPS042
SPRING_PROFILES_ACTIVE=dev
#API_BASE_URL_OAUTH=https://sign-in-dev.hmpps.service.justice.gov.uk/auth
#API_BASE_URL_CASE-NOTES=https://dev.offender-case-notes.service.justice.gov.uk
#API_BASE_URL_POP-USER-SERVICE=https://person-on-probation-user-api-dev.hmpps.service.justice.gov.uk

# ================================ SECRETS ================================
## get it from secrets: kubectl -n hmpps-resettlement-passport-dev get secret hmpps-resettlement-passport-api -o json | jq '.data | map_values(@base64d)'
RESETTLEMENT_PASSPORT_API_CLIENT_ID=
RESETTLEMENT_PASSPORT_API_CLIENT_SECRET=
