---
# Per environment values which override defaults in hmpps-resettlement-passport-api/values.yaml

generic-service:
  serviceAccountName: hmpps-resettlement-passport-prod-irsa

  ingress:
    host: resettlement-passport-api.hmpps.service.justice.gov.uk

  env:
    API_BASE_URL_OAUTH: https://sign-in.hmpps.service.justice.gov.uk/auth
    API_BASE_URL_PRISONER-SEARCH: https://prisoner-search.prison.service.justice.gov.uk
    API_BASE_URL_CVL: https://create-and-vary-a-licence-api.hmpps.service.justice.gov.uk
    API_BASE_URL_ARN: https://assess-risks-and-needs.hmpps.service.justice.gov.uk
    API_BASE_URL_PRISON: https://prison-api.prison.service.justice.gov.uk
    API_BASE_URL_CASE-NOTES: https://offender-case-notes.service.justice.gov.uk
    API_BASE_URL_KEY-WORKER: https://keyworker-api.prison.service.justice.gov.uk
    API_BASE_URL_ALLOCATION-MANAGER: https://moic.service.justice.gov.uk
    API_BASE_URL_RESETTLEMENT-PASSPORT-DELIUS: https://resettlement-passport-and-delius.hmpps.service.justice.gov.uk
    API_BASE_URL_EDUCATION-EMPLOYMENT:  https://education-employment-api.hmpps.service.justice.gov.uk
    API_BASE_URL_INTERVENTIONS-SERVICE: https://hmpps-interventions-service.apps.live-1.cloud-platform.service.justice.gov.uk
    API_BASE_URL_POP-USER-SERVICE: https://person-on-probation-user-api.hmpps.service.justice.gov.uk
    SCHEDULE_EXPRESSION_DELETE-EXPIRED-OTP: 0 0 3 * * *
    interventions-api-integration_crsAppointmentsEnabled: true
    API_BASE_URL_gotenberg-api: http://hmpps-resettlement-passport-api-gotenberg
    PSFR_BASE_URL: https://resettlement-passport-ui.hmpps.service.justice.gov.uk
    API_BASE_URL_CURIOUS_SERVICE: https://liveservices.sequation.com
    API_BASE_URL_MANAGE_USERS_SERVICE: https://manage-users-api.hmpps.service.justice.gov.uk
    READ_ONLY_MODE_VALUE: true

  # Enable syncing the production database to pre-prod. This creates a scheduled job that runs every 4 hours, and will
  # restore the PSfR database to pre-prod if that is a newer version of the NOMIS database since the last restore.
  postgresDatabaseRestore:
    enabled: true
    namespace_secrets:
      rds-postgresql-instance-output:
        DB_NAME: "database_name"
        DB_USER: "database_username"
        DB_PASS: "database_password"
        DB_HOST: "rds_instance_address"
      rds-postgresql-instance-output-preprod:
        DB_NAME_PREPROD: "database_name"
        DB_USER_PREPROD: "database_username"
        DB_PASS_PREPROD: "database_password"
        DB_HOST_PREPROD: "rds_instance_address"

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: hmpps-resettlement-passport-prod

custom-prometheus-alerts:
  businessHoursOnly: false
